[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/guido/Desktop/chrome-faolnafnngnfdaknnbpnkhgohbobgegn-Default.desktop]
row=2
col=0

[/home/guido/Desktop/chrome-cifhbcnohmdccbgoicgdjpfamggdegmo-Default.desktop]
row=3
col=0

[/]
row=0
col=0

[/home/guido]
row=1
col=0

