[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/guido/Desktop/chrome-cifhbcnohmdccbgoicgdjpfamggdegmo-Default.desktop]
row=0
col=0

[/home/guido/Desktop/chrome-efgfdpdcccdffebnjdbehfocbapjhhhm-Default.desktop]
row=7
col=0

[85ac5027-6b3e-4c7f-8b44-b9f3f37cf565]
row=5
col=0

[google-drive://knotted10@gmail.com/]
row=6
col=0

[Wastebasket]
row=4
col=0

[/]
row=3
col=0

[/home/guido]
row=2
col=0

