* {font-weight: 600;}

/*Panel stuff*/

.xfce4-panel widget grid button.flat.toggle {
	padding-right: 3px;
	margin-left: 0 3px;
	color: #C3C2BB;
}
.xfce4-panel widget grid button.flat.toggle:hover {
	background: rgba(0,0,0,0.0);
	color: #83C092;
}
.xfce4-panel widget grid button.flat.toggle:checked {
	background: rgba(0,0,0,0.0);
	color: #E67E80;
}
.xfce4-panel button {
	margin: 0 6px;
	padding: 0 4px;
}

.tasklist button {
    margin: 0;
    padding: 0;
    width: 20px;
 }

 pulseaudio-button menu .linked button {
    margin: 0;
    padding: 0;
    width: auto;
 }

/* Xfwm4's alt-tab dialog, aka "tabwin" */
#xfwm-tabwin {
    padding: 0px;
    background-image: none;
    /*background-color: rgba(39, 46, 51, 0.8);*/
    color: shade(#ffffff, 0.65);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    border: 1px solid #41464A;
    /* Set the application icon- and preview-size to 64px */
    -XfwmTabwinWidget-icon-size: 64px;
    -XfwmTabwinWidget-preview-size: 64px; 
    font-size: 0;
}
#xfwm-tabwin button {
    background-image: none;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 8px;
    box-shadow: none; 
    font-size: 0;

}
#xfwm-tabwin button:active, #xfwm-tabwin button:checked, #xfwm-tabwin button:active:hover, #xfwm-tabwin button:checked:hover {
    /*background-color: rgba(39, 46, 51, 1);*/
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    border: 1px solid #31353833;

}
#xfwm-tabwin button:hover {
    background-color: rgba(39, 46, 51, 0.671);
}
#xfwm-tabwin .tabwin-app-grid button {
    min-width: 86px;
    min-height: 86px; 
}/* Xfwm4's alt-tab dialog, aka "tabwin" */

/*Notifications*/
 /* #XfceNotifyWindow {
    background-color: rgba(16, 17, 20,.75);
    border-radius: 8px;
} */