[Desktop Entry]
Name[en_GB]=Task Manager
Name=Task Manager
Comment[en_GB]=Easy to use application to monitor system resources
Comment=Easy to use application to monitor system resources
GenericName[en_GB]=Task Manager
GenericName=Task Manager
Exec=xfce4-taskmanager
Icon=org.xfce.taskmanager
Terminal=false
StartupNotify=true
Type=Application
Categories=System;GTK;Monitor;X-Xfce;
Keywords[en_GB]=monitor;resources;system;task;performance;
Keywords=monitor;resources;system;task;performance;
X-Desktop-File-Install-Version=0.27
X-XFCE-Source=file:///usr/share/applications/xfce4-taskmanager.desktop
